<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{itemCollection.title}}
    </mat-panel-title>
    <mat-panel-description>
      Average Price: {{itemCollection.avgPrice}}
      Average Shipping: {{itemCollection.avgShippingPrice}}
    </mat-panel-description>
  </mat-expansion-panel-header> 
  <cdk-virtual-scroll-viewport style="height:400px; width:inherit;" itemSize="itemCollection.length">
    <mat-nav-list>
      <app-item-info-card name="incapsulate this in a scrollable" *cdkVirtualFor="let item of itemCollection.FacsimilieList" [item]="item"></app-item-info-card>
    </mat-nav-list>
  </cdk-virtual-scroll-viewport>
</mat-expansion-panel>
